# Flask packages

# Successfully installed flask Werkzeug Jinja2 itsdangerous MarkupSafe
flask
flask-script

# templates
jinja2
flask-bootstrap
flask-moment
flask-restful

# form
flask-wtf

# database
flask-sqlalchemy
flask-migrate

# utils
flask-mail

# redis==2.10.3
# Markdown
# supervisor

#AI
numpy
pandas
scikit-learn
